html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/** Enabled Step 3... */

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

md-list-item > button {
  width:100%;
  text-align:left !important;
}

#content  {
  padding-left: 10px;
  padding-right: 10px;
 /* padding-top: 5px;*/
}

.input-container-flat{
   margin-top: 5px !important;
   margin-bottom: 5px !important;
}

.bkgrnd {
  background-color: rgba(245, 230, 211, 0.51);
}

.panel{
  background-color: white;
  margin:10px 5px 10px 5px;
  padding: 5px;
}

.definition{
    padding-bottom: 5px;
}

.definition span[segment="word"]{
    font-weight:800;
}

.definition span[segment="position"]{
    font-weight: 300;
    color: #7986CB;
}

.translation{
    padding-bottom: 5px;
}

.translation span[segment="text"]{
    color: #26A69A;
}

.translation span[segment="gender"]{
    font-size: .85em;
    color: #B0BEC5;
}

.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
    margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px; }

.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
    opacity: 0.54; }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/
